# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


*.iml
Android-App/.gradle
Android-App/local.properties
Android-App/.idea/caches/build_file_checksums.ser
Android-App/.idea/libraries
Android-App/.idea/modules.xml
Android-App/.idea/workspace.xml
Android-App/.DS_Store
Android-App/build
Android-App/captures
Android-App/.externalNativeBuild

